{# vim:set et sw=2 ts=2 tw=80: #}
{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h1> Book detail </h1>
</div>

<div class="col-md-8">
{% if book %}
    <ul class="list-group">
      <li class="list-group-item"> {{ book.title }} </li>
      <li class="list-group-item"> {{ book.author }} </li>
      <li class="list-group-item"> {{ book.id}} </li>
      <li class="list-group-item"> {{ book.is_lended}} </li>
      <li class="list-group-item"> {{ book_owner.name}} </li>
      {% if book_owner.name == request.user %}
      <a href="{% url 'shika:bookedit' book.id %}" 
        class="list-group-item active"> Edit this book </a>
      {% endif %}
    </ul>
{% else %}
    <p>No books are available.</p>
{% endif %}
</div>

{% endblock content %}

