{# vim:set et sw=2 ts=2 tw=80: #}
{% extends "base.html" %}
{% block content %}

<div class="page-header">
  {% if request.path == "/shika/allcollections/" %}
    <h1> List of all users books </h1>
  {% else %}
    <h1> List of {{ user.username }}s books </h1>
  {% endif %}
</div>

{% if books %}
  {% for book in books %}
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item">
      <a href="{% url 'shika:bookdetail' book.id %}"> {{ book }} </a>
      {% for book_for_lending in books_for_lending %}
        {% if book.id == book_for_lending.id %}
          <span class="pull-right">
            <a href="{% url 'shika:lending' book.id %}"
              class="btn btn-primary btn-xs active" role="button">Lend</a>
          </span>
        {% endif %}
      {% endfor %}
      </li>
    </ul>
  </div>
  {% endfor %} 
{% else %}
    <p>No books are available.</p>
{% endif %}
{% endblock content %}
