{# vim:set et sw=2 ts=2 tw=80: #}
{% extends "base.html" %}
{% block content %}

<div class="page-header">
  {% if request.path == "/shika/allcollections/" %}
    <h1> List of all users books </h1>
  {% else %}
    <h1> List of {{ user.username }}s books </h1>
  {% endif %}
</div>

<div class="col-md-8">
{% if books %}
  {% for book in books %}
    <ul class="list-group">
      <li class="list-group-item"><a href="{% url 'shika:bookdetail' book.id %}"> {{ book }} </a></li>
    </ul>
  {% endfor %} 
{% else %}
    <p>No books are available.</p>
{% endif %}
</div>

{% endblock content %}
